<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maps.elektro.com.draw" >

    <permission android:name="maps.elektro.com.draw.permission.MAPS_RECEIVE" />

    <uses-permission android:name="maps.elektro.com.draw.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splas_s"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCQ-xO4ySkLeJSCzsZKIYTz0Nnt3xQpVuU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".lyout1"
            android:label="@string/title_activity_lyout1" >
        </activity>
        <activity
            android:name=".Layout1_Fragment"
            android:label="@string/title_activity_layout1" >
        </activity>
        <activity
            android:name=".list_banda"
            android:label="@string/title_activity_list_banda" >
        </activity>
        <activity
            android:name=".Detail_Place"
            android:label="@string/title_activity_detail__place" >
        </activity>
        <activity
            android:name=".list_sabang"
            android:label="@string/title_activity_list_sabang" >
        </activity>
        <activity
            android:name=".maps_banda"
            android:label="@string/title_activity_maps_banda" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".maps_daus"
            android:label="@string/title_activity_maps_daus" >
        </activity>
        <activity
            android:name=".my_location"
            android:label="@string/title_activity_my_location" >
        </activity>
        <activity
            android:name=".maps_hasan"
            android:label="@string/title_activity_maps_hasan" >
        </activity>
        <activity
            android:name=".maps_razali"
            android:label="@string/title_activity_maps_razali" >
        </activity>
        <activity
            android:name=".maps_bireun"
            android:label="@string/title_activity_maps_bireun" >
        </activity>
        <activity
            android:name=".list_lhokseumawe"
            android:label="@string/title_activity_list_lhokseumawe" >
        </activity>
        <activity
            android:name=".list_acehselatan"
            android:label="@string/title_activity_list_acehselatan" >
        </activity>
        <activity
            android:name=".list_acehbesar"
            android:label="@string/title_activity_list_acehbesar" >
        </activity>
        <activity
            android:name=".list_acehtengah"
            android:label="@string/title_activity_list_acehtengah" >
        </activity>
        <activity
            android:name=".info_daus"
            android:label="@string/title_activity_info_daus" >
        </activity>
        <activity
            android:name=".info_hasan"
            android:label="@string/title_activity_info_hasan" >
        </activity>
        <activity
            android:name=".info_razali"
            android:label="@string/title_activity_info_razali" >
        </activity>
        <activity
            android:name=".info_bireun"
            android:label="@string/title_activity_info_bireun" >
        </activity>
        <activity
            android:name=".maps_transport"
            android:label="@string/title_activity_maps_transport" >
        </activity>
        <activity
            android:name=".maps_hotel"
            android:label="@string/title_activity_maps_hotel" >
        </activity>
        <activity
            android:name=".maps_police"
            android:label="@string/title_activity_maps_police" >
        </activity>
        <activity
            android:name=".maps_bank"
            android:label="@string/title_activity_maps_bank" >
        </activity>
        <activity
            android:name=".maps_oil"
            android:label="@string/title_activity_maps_oil" >
        </activity>
    </application>

</manifest>
